<div class="body">
    <div>
        <a href="/index"><img src="/images/turkey.jpg" alt="Image"></a>
    </div>
    <ul>
        <li class="current">
            <a href="#"><img src="/images/holi-turkey.jpg" alt="Image"></a>
            <div>
                <h2><a href="#">Holy Turkey</a></h2>
                <p>
                    This is just a place holder
                </p>
            </div>
        </li>
        <li>
            <a href="#"><img src="/images/fruits-and-bread.jpg" alt="Image"></a>
            <div>
                <h2><a href="#">Fruits &amp; Bread</a></h2>
                <p>
                    This is just a place holder
                </p>
            </div>
        </li>
        <li>
            <a href="#"><img src="/images/dessert.jpg" alt="Image"></a>
            <div>
                <h2><a href="#">Dessert</a></h2>
                <p>
                    This is just a place holder
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="footer">
    <ul>
        <li>
            <h2><a href="/featured">Featured Recipes</a></h2>
            <a href="/featured"><img src="/images/featured.jpg" alt="Image"></a>
        </li>
        <li>
            <h2><a href="/recipes">A to Z Recipes</a></h2>
            <a href="/recipes"><img src="/images/a-z.jpg" alt="Image"></a>
        </li>
    </ul>
    <ul>
        <li>
            <h2><a href="#">Videos</a></h2>
            <a href="#"><img src="/images/videos.jpg" alt="Image"></a>
        </li>
        <li>
            <h2><a href="#">Blog</a></h2>
            <a href="#"><img src="/images/blog.jpg" alt="Image"></a>
        </li>
    </ul>
</div>